<ion-content class="content">
  <ion-list>
    <ion-item *ngFor="let transaction of transactions;">
      <ion-label>
        <h2>{{ transaction.description }}</h2>
        <p class="time">{{ transaction.time }}</p>
      </ion-label>
      <ion-note slot="end" color="success" class="money">
        {{ transaction.value }}
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>ssdsds</h2>
        <p class="time">10:30 AM</p>
      </ion-label>
      <ion-note slot="end" color="danger" class="money">
        R$ 450,75
      </ion-note>
    </ion-item>
    
  </ion-list>
</ion-content>
